<div class="col-md-2" id="leftCol" style="padding-left: 140px">
    <ul class="nav nav-stacked" id="sidebar">
      <li><a ng-click="gotoElement('about')">About US</a></li>
      <li><a ng-click="gotoElement('founder')">Founder and Principle</a></li>
      <li><a ng-click="gotoElement('customers')" >Customers</a></li>
      <li><a ng-click="gotoElement('services')">Services</a></li>
      <li><a ng-click="gotoElement('publications')">Publications</a></li>
    </ul>
</div> 

<div class="container">

    <div class="row">
        <span ng-if="english" class="animate-if">
            <div class="col-lg-12" id="about">
                <h1 class="page-header">About US
                </h1>
            </div>

            <div class="col-md-6">
                <div class="logo">
                    <img class="img-responsive center-block" src="img/Logo250x250.png">
                </div>
            </div>

            <div class="col-md-6">
                <h2>Welcome to GA Business Group</h2>

                <p>GA Business Group is a boutique Financial and Management consulting firm based in Vancouver, BC, Canada. GA Business Group was incorporated in 2007 and has been providing bookkeeping, accounting, controllership, financial and strategic management, MD & A reporting, M&A advising, corporate development, and project evaluations to public and private companies.</p>

                <p>We believe our clients are of the utmost importance. We are committed to providing superior and reliable financial and management serives to help our clients focus on their goals and ensure their businesses going in the right direction and running efficiently.</p>
            </div>
         </span>
        


        <span ng-if="chinese" class="animate-if">
            <div class="col-lg-12" id="about">
                <h1 class="page-header">关于我们
                </h1>
            </div>

            <div class="col-md-6">
                <div class="logo">
                    <img class="img-responsive center-block" src="img/Logo250x250.png">
                </div>
            </div>

            <div class="col-md-6">
                <h2>欢迎GA事业群</h2>

                <p>GA 商务集团是一家设在加拿大卑诗省温哥华的精品财务及管理咨询公司. 自2007年成立以来, 公司已经为许多私有及上市公司提供了一流的会计记帐, 上市公司季报及年报, 管理层讨论分析报告, 并购, 企业发展，和项目评估等咨询服务。</p>

                <p>我们相信客户至上. 我们致力于为我们的客户提供一流的财务和管理服务,让我们的客户得以把有限的时间和精力投入到开发业务及有效营运上.</p>
            </div>
        </span>
    </div>


    <div class="row">
        <span ng-if="english" class="animate-if">
            <div class="col-lg-12" id="founder">
                <h1 class="page-header">Founder and Principle</h1>
            </div>

            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-6">
                <img class="img-responsive center-block img-circle test" style="width:70%"src="img/Founder600x600.png">
            </div>

            <div class="col-md-6">
                <h3>Jenny Fang
                    <small>B Eng (GEOE), CPA, CMA</small>
                </h3>

                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/GaBusinessGroupInc/info" data-toggle="tooltip"
                        data-placement="top" title="Facebook" target="_blank"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="http://ca.linkedin.com/in/jiejennyfang2009" data-toggle="tooltip"
                        data-placement="top" title="LinkedIn" target="_blank"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                </ul>

                <div class="well" style="border-left: 3px solid #6441A5">
                    <p>Ms. Fang is a Certified Management Accountant and a china registered geological engineer. Since 2005, Ms. Fang has been providing bookkeeping , accounting, financial reporting, controllership services to dozens of  private and public companies. Ms Fang is the first place winner of "2013 Humorous Speech Contest " held by Toastmaster International District 21 Area B20. Ms. Fang held a Bachelor Degree of Geological Engineering from Central South University of China (1987), the top mining university in China. She worked as a geological engineer for a state-owned mining company for 12 years in China. With multitude of experience in accounting, financial reporting, geology, and linguistics (English & Mandarin), Ms. Fang has a great understanding of Mining and Natural Resources sector.</p>
                </div>
            </div>

            <div class="col-lg-12" id="customers">
                <h1 class="page-header">Our Customers
                </h1>
            </div>


            <div class="col-md-4" style="padding-top: 50px">
            <img class="img-responsive" src="img/RegalLogo500x100.png">
            </div>

            <div class="col-md-8">
                <h3><b>Gregory Thomas</b>, President, CEO & Director, <a href="http://www.regalresinc.com/s/home.asp" target="_blank">Regal Resources Inc</a>, Vancouver, BC, Canada</h3>
                    <p>“Jenny Fang has worked with Regal Resources（CNSX: RGR）in the capacity of VP of Corporate Development for the last 6 months. She is very knowledgeable, thorough, and honest. Her improvements to our website are excellent in addition to the creation of a Mandarin website， and presentation all of which have been invaluable to us. She has also made introductions to various companies/individuals that will benefit Regal in the future. All of this, and additional work outside of her duties was done with very little direction ， as she is a motivated self-starter.  August 8, 2013</p>
            </div>

            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-8">
                <h3><b>Joseph Nuyten</b>, President & Director, <a href="http://www.investmentpitch.com/" target="_blank">InvestmentPitch</a>， Vancouver, BC , Canada</h3>
                <p>"Ms Fang is extremely well versed in business on multiple levels. We were initially introduced through business networking on the West Coast ，and this led to some very interesting special projects related negotiations with respects to high-level international investment endeavors here in Canada in the resources industry in particular with M&A activity. I recommend Jenny at the highest level. She has the ability to communicate in a multi-lingual capacity and has the ability to guide people through a multitude of important levels in business negotiations and due-diligence. There are few with the skills in financial accounting, business communications and foreign diplomacy as Jenny." June 13, 2008</p>
            </div>


            <div class="col-md-4" style="padding-top: 100px">
                <img class="img-responsive" src="img/InvestmentPitch500x100.png">
            </div>

            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-12">
                <div class="centered">
                    <a class="btn btn-custom-spin btn-lg" href="#/testimonials"><i class="fa fa-thumbs-o-up"></i> Want to see more testimonials from our customers? Click here!</a>
                </div>
            </div>

            <div class="clearfix"></div>
            <br><br>
        </span>

        <span ng-if="chinese" class="animate-if">

            <div class="col-lg-12" id="customers">
                <h1 class="page-header">创始人简介
                </h1>
            </div>
            
            <div class="clearfix"></div>
            <br><br>

            <div class="col-md-6">
                <img class="img-responsive center-block img-circle" style="width:70%"src="img/Founder600x600.png">
            </div>


            <div class="col-md-6">
                <h3>Jenny Fang
                    <small> (加拿大特许职业会计师, 注册管理会计师，中国地质工程师)</small>

                </h3>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/GaBusinessGroupInc/info" data-toggle="tooltip"
                        data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="http://ca.linkedin.com/in/jiejennyfang2009" data-toggle="tooltip"
                        data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                </ul>
                <div class="well" style="border-left: 3px solid #6441A5">
                    <p>公司创始人方女士是加拿大特许职业会计师，注册管理会计师， 以及中国地质工程师。自从2005年以来， 方女士为十多家私有和上市公司提供了有关簿记， 会计，财务报表，及会计监管方面的服务。方女士在2013年国际演讲俱乐部幽默演讲赛温哥华西赛区比赛中荣获第一名。 方女士1987年毕业于中南工大(现中南大学)地质系-中国矿业界最高学府。 方女士曾是中国有色地质工业总公司下属单位地质工程师. 方女士在地质,财务,及双语交流( 英语和普通话)方面的知识和经验使她对矿业界有很深的了解。</p>
                </div>

            </div>

            <div class="col-lg-12" id="customers">
                <h1 class="page-header">我们的客户
                </h1>
            </div>

            <div class="col-md-4" style="padding-top: 50px">
            <img class="img-responsive" src="img/RegalLogo500x100.png">
            </div>

            <div class="col-md-8">
                <h3>格雷戈.托马斯 总裁，首席执行官，董事，富豪资源公司 <a href="http://www.regalresinc.com/s/home.asp" target="_blank">Regal Resources Inc</a>, 加拿大，温哥华 </h3>
                <p>“方洁女士在富豪资源公司任企业发展副总裁已经有六个月。她是个知识渊博，思想缜密，而又非常诚实的人。除了为富豪资源建造了一个中文网站，她还对我们的英文 网站进行了非常优秀的改善，所有这些演示对我们公司都是非常宝贵的。此外，她还给富豪资源介绍了很多不同的公司，个人，这些资源对富豪资源将来都极其有 用。除做她的本职工作外，她还在没被吩咐的情况下做了其它份外的工作。 她是个积极主动，不需要别人给她指出方向的人。” 2013年8月8日</p>


            </div>

            <div class="clearfix"></div>
            <br><br>
            <div class="col-md-8">

                <h3>约瑟夫，奈腾，总裁兼董事，<a href="http://www.investmentpitch.com/" target="_blank">InvestmentPitch</a>，加拿大，温哥华</h3>
                <p>"方女士对多个层面的业务都非常精通。我们最初是在加拿大西海岸的一次商业聚会中认识的。后来导致我们在加拿大共同合作了一个非常有趣且高层次的与国际资源投资有关的并购活动谈判。我在此给予她最高层次的推荐。方女士具有多语种沟通及引导多层次重要商务谈判和尽职调查等方面的能力。像方女士这样具有财务，商务谈判，及外交技巧能力的人确实不多。", 2008 年6月13日</p>
            </div>


            <div class="col-md-4" style="padding-top: 100px">
            <img class="img-responsive" src="img/InvestmentPitch500x100.png">
            </div>

            <div class="clearfix"></div>
            <br><br>
           <div class="col-md-12">
            <div class="centered">
                    <a class="btn btn-custom-spin btn-lg" href="#/testimonials"><i class="fa fa-thumbs-o-up"></i> Want to see more testimonials from our customers? Click here!</a>
                    </div>
            </div>

            <div class="clearfix"></div>
            <br><br>

        </span>
        </div>




        <span ng-if="english" class="animate-if">
            <div class="row">
                <div class="col-lg-12" id="services">
                    <h1 class="page-header">Our Services
                        <small>Accounting, Financial Reporting, MD&A Reporting.</small>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                <img class="img-responsive center-block" src="img/Logo250x250.png">
                </div>
                <div class="col-md-4">
                <img class="img-responsive center-block" src="img/Logo250x250.png">
                </div>
                <div class="col-md-4">
                <img class="img-responsive center-block" src="img/Logo250x250.png">
                </div>
            </div>

            <div class="row">
              <div class="col-md-4">


            <div class="panel panel-primary">
                <div class="panel-heading centered" style="text-transform: uppercase; background-color: #333;">Accounting and Financial Reporting</div>
                <div class="panel-body" style="min-height: 270px;">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i>Bookkeeping and Accounting</li>
                        <li><i class="fa-li fa fa-check"></i>Quarterly and annual financial reporting</li>
                        <li><i class="fa-li fa fa-check"></i>Management discussion and analysis</li>
                        <li><i class="fa-li fa fa-check"></i>Mining flow-through (T100s, T101s)</li>
                        <li><i class="fa-li fa fa-check"></i>CFO services and Internal Control</li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading centered" style="text-transform: uppercase; background-color: #333;">Mining Business Development</div>
                <div class="panel-body" style="min-height: 270px;">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i>Client representation and trade shows</li>
                        <li><i class="fa-li fa fa-check"></i>Translation and development of website</li>
                        <li><i class="fa-li fa fa-check"></i>Translation of Financial Statements</li>
                        <li><i class="fa-li fa fa-check"></i>Translation of Geological summary and geological reports including NI 43-101 reports</li>
                        <li><i class="fa-li fa fa-check"></i>Create promotional and presentational brochures in both Chinese and English</li>
                        <li><i class="fa-li fa fa-check"></i>Interpretation for mining conference and other vital meetings</li>
                        <li><i class="fa-li fa fa-check"></i>Organizing private meetings with potential investors and / or project holders </li>
                    </ul>
                </div>
            </div>

            </div>

            <div class="col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading centered" style="text-transform: uppercase; background-color: #333;">Mining Project Financing</div>
                <div class="panel-body" style="min-height: 270px;">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i>Pre-due diligence (Mini due diligence) </li>
                        <li><i class="fa-li fa fa-check"></i>Mineral projects evaluation </li>
                        <li><i class="fa-li fa fa-check"></i>Capital budgeting (NPV, Payback, IRR) </li>
                        <li><i class="fa-li fa fa-check"></i>Minerals projects financing</li>
                        <li><i class="fa-li fa fa-check"></i>Assist the listing on TSX-V and CNSX</li>
                        <li><i class="fa-li fa fa-check"></i>Liaising high quality American mineral projects with Chinese investors</li>
                    </ul>
                </div>
            </div>

            </div>
            </div>
        </span>


        <span ng-if="chinese" class="animate-if">
            <div class="row">
                <div class="col-lg-12" id="services">
                    <h1 class="page-header">我们的服务项目
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#/about.html">Home</a></li>
                        <li class="active">Services</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                <img class="img-responsive center-block" src="img/Logo250x250.png">
                </div>
                <div class="col-md-4">
                <img class="img-responsive center-block" src="img/Logo250x250.png">
                </div>
                <div class="col-md-4">
                <img class="img-responsive center-block" src="img/Logo250x250.png">
                </div>
            </div>

              <div class="row">
              <div class="col-md-4">


            <div class="panel panel-primary">
                <div class="panel-heading centered" style="text-transform: uppercase; background-color: #333;">会计服务</div>
                <div class="panel-body" style="min-height: 270px;">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i>建帐及记帐</li>
                        <li><i class="fa-li fa fa-check"></i>上市公司季报和年报</li>
                        <li><i class="fa-li fa fa-check"></i>上市公司管理层分析讨论报告</li>
                        <li><i class="fa-li fa fa-check"></i>加拿大矿业投资抵税汇报</li>
                        <li><i class="fa-li fa fa-check"></i>首席财务官服务及内部审计</li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading centered" style="text-transform: uppercase; background-color: #333;">矿业市场开发</div>
                <div class="panel-body" style="min-height: 270px;">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i>代表客户路演及会展</li>
                        <li><i class="fa-li fa fa-check"></i>网站翻译及制作</li>
                        <li><i class="fa-li fa fa-check"></i>财务报表翻译</li>
                        <li><i class="fa-li fa fa-check"></i>翻译地质总结及43-101报告</li>
                        <li><i class="fa-li fa fa-check"></i>创建中英文宣传小册子</li>
                        <li><i class="fa-li fa fa-check"></i>会务及其它口译</li>
                        <li><i class="fa-li fa fa-check"></i>安排与有潜力的投资人或有项目的人会谈</li>
                    </ul>
                </div>
            </div>

            </div>

            <div class="col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading centered" style="text-transform: uppercase; background-color: #333;">矿业项目融资</div>
                <div class="panel-body" style="min-height: 270px;">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i>提供意向书之前的微型尽职调查</li>
                        <li><i class="fa-li fa fa-check"></i>矿业项目评估</li>
                        <li><i class="fa-li fa fa-check"></i>地质项目资本预算</li>
                        <li><i class="fa-li fa fa-check"></i>矿业项目融资</li>
                        <li><i class="fa-li fa fa-check"></i>协助在多交所创业版及加拿大国家证交所上市</li>
                        <li><i class="fa-li fa fa-check"></i>为国内投资者提供高质量的北美矿业项目</li>
                    </ul>
                </div>
            </div>

            </div>
            </div>
            
        </span>




    <div class="row">

        <div class="col-lg-12" id="publications">
            <h1 class="page-header"> Publications
            </h1>   
        </div>
    </div>

    
    <div ng-show="english" class="animate-if">
        <div class="row">
            <div class="col-lg-12">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#Interview" data-toggle="tab">Interview</a></li>
                    <li><a href="#Articles" data-toggle="tab">Articles</a></li>
                    <li><a href="#Translations" data-toggle="tab">Translations</a></li>
                </ul>
                <div id="my-tab-content" class="tab-content">
                    
                    <div class="tab-pane active" id="Interview">
                        <h1>Interviews</h1>
                        <ul class="list-group">
                            <li class="list-group-item">Interviewed by Bloomberg BusinessWeek China in regards of CNOOC takeover of Nexen Energy / BBWC Oct 19, 2012 </li>
                        </ul>

                    </div>
                    <div class="tab-pane" id="Articles">
                        <h1>Published Original Articles</h1>
                        <ul class="list-group">
                            <li class="list-group-item">Multivariant Statistical Analysis In The Application Of The Surveyed Area Of Jinshan Gold Deposit,Jiangxi,China "Jiangxi Geology" ; 1994 Vol Collected by: Materials Physics and Chemistry Professional PhD thesis in 2000 sponsored by : Shanghai Institute of Metallurgy, Chinese Academy of Sciences</li>
                        </ul>
                        
                    </div>
                    <div class="tab-pane" id="Translations">
                        <h1>Published Translations</h1>

                        <li class="list-group-item">Fission track age adjustment through Inner and outer surfaces of zircon "Geology & Geochemistry";  1993 Vol 5</li>
                        <li class="list-group-item">The vein gold related to the Tertiary pluton in Harrison Lake, British Columbia "Heilongjiang Geological Intelligence"; 1992 Vol 2</li>
                        <li class="list-group-item">New Mineral-Tooeleite found in Americas Mine in Tooele County, Utah, USA "Journal of Geoscience Translations" ; 1992 Vol 4</li>
                        <li class="list-group-item">Ag-Pd alloys in Bahia lateritic gold mine in Carajas of Brazil "Journal of Geoscience Translations"; 1992 Vol 4</li>
                    </div>
                </div>

            </div>
        </div>
    </div>  


    <div ng-show="chinese" class="animate-if">
        <div class="row">
            <div class="col-lg-12">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#CHInterview" data-toggle="tab">访谈</a></li>
                    <li><a href="#CHArticles" data-toggle="tab">原作</a></li>
                    <li><a href="#CHTranslations" data-toggle="tab">翻译作品 </a></li>
                </ul>
                <div id="my-tab-content" class="tab-content">
                    
                    <div class="tab-pane active" id="CHInterview">
                        <h1>访谈</h1>
                        <ul class="list-group">
                            <li class="list-group-item">创始人方洁女士就中海油收购加拿大耐克森能源公司一事 接受彭博商务周刊中文版资深能源记者李晨蕾小姐的采访, 详情请读2012年10月19日总第20期. </li>
                        </ul>

                    </div>
                    <div class="tab-pane" id="CHArticles">
                        <h1>原作</h1>
                        <ul class="list-group">
                            <li class="list-group-item">多元统计分析在金山金矿普查测区中的应用 《江西地质》;1994年第2期 选入中国科学院上海冶金研究所《材料物理与化学专业2000年度博士论文》</li>
                        </ul>
                        
                    </div>
                    <div class="tab-pane" id="CHTranslations">
                        <h1>翻译作品</h1>

                        <li class="list-group-item">使用锆石内、外表面进行裂变径迹年龄校正;<地质地球化学>1993年第05期</li>
                        <li class="list-group-item">不列颠哥伦比亚省Harrison湖与第三纪深成作用有关的脉状金矿化<黑龙江地质情报>;1992年 第02期</li>
                        <li class="list-group-item">美国犹他州图尔县美洲矿中的新矿物-Tooeleite<地质科学译丛>;1992年 第04期</li>
                        <li class="list-group-item">巴西卡拉雅斯Bahia红土金矿中的Ag-Pd合金<地质科学译丛>;1992年 第04期</li>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>







