<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><a href="#/about.html">Home</a></li>
				<li><a href="#/blog">Blog</a></li>
				<li class="active">March 5th 2013</li>
			</ol>
			<h1 class="page-header"> 2012世界上最大的10家铜矿公司
			</h1>
		</div>
	</div>


	<h3><p>2012年全球最大的10家铜矿公司铜产量初步估计占同比增长约2％，从2011年的914万吨增加至2012年的931万吨。排名前10位的铜企业中六家铜产量增加，四家下降（图1）。</p></h3>	

	<div class="row">
		<div class="col-md-12">
			<img class="img-responsive center-block" src="img/blog1chart.png">
			<ul class="list-group">
				<li class="list-group-item">1.智利国有矿业公司Codelco排名第一: 2012铜产量初步估计175万吨，比2011年（179.6万吨）同比下降3%。下降的主要原因是其处理的矿石品位较低，其中Chuquicamata的矿石品位下降了19％，不过该公司预计全年生产数字非常接近2012年的预算。</li>
				<li class="list-group-item">2.总部设在美国亚利桑那州凤凰城的Freeport-McMoRan铜金公司（NYSE：FCX）排名第二其2012年生产铜166.2万吨，与2011年（167.4万吨）相比低约1％。主要原因是Grasberg，the Candelaria/Ojos del Salado , 以及Cerro Verde等矿山的铜矿产量下降。</li>
				<li class="list-group-item">3.英澳必和必拓（BHP Billiton）（ASX：BHP，LSE：BLT）铜产量排名第三，增加了11％，从2011年的104.7万吨增加到2012年的116.3万吨。这两位数的增长速度，源于Escondida矿石品位的提高以及成功完成大型维修后吞吐量增加的结果。</li>
				<li class="list-group-item">4.墨西哥的墨西哥集团（PINK：GMBXF）保持原来的第四位。这主要归功于其子公司，南方铜业公司（NYSE：SCCO）和美国的冶炼和精炼公司（ASARCO）综合铜生产能力7％的提高，包括回收率和矿石品位的提高。其产量从2011年的77.3万吨增到2012年82.6万吨。</li>
				<li class="list-group-item">5.盎格鲁 - 瑞士Xstrata公司（LSE：XTA，SIX：XTAN），排名第五。总的铜生产量为74.7万吨与2011年相比低了16％。斯特拉塔铜业产量下降的原因是从一些老的将开采完的矿山转型到新矿并且加上扩张，另外又加上Collahuasi铜矿合资生产的挑战。所以产量出现两位数的下降。</li>
				<li class="list-group-item">6.智利的安托法加斯塔PLC（LSE：ANTO）名列第六位. 其2012年的铜产量为71万吨，较2011年64.1万吨增长11％，主要是由于在埃斯佩朗莎和洛斯佩兰布雷斯矿吞吐量增高带来的增加。</li>
				<li class="list-group-item">7.总部设在波兰的KGHM波兰Miedź集团（WSE：KGH）由第九位上升到第七位，2012年铜产量出现18％的增长。</li>
				<li class="list-group-item">8.英国英美资源集团（LSE：AAL）排第八位，总铜产量66万吨，比2011年高出10％，其中包括该公司在Collahuasi铜矿的合资企业的产量</li>
				<li class="list-group-item">9.盎格鲁 - 瑞士的嘉能可国际公司（LSE：GLEN）排名第九位，铜总产量56.6万吨，包括公司自己的原料及第三方矿石，产量比2011年低10％。</li>
				<li class="list-group-item">10.英国和澳大利亚的力拓（Rio Tinto）（LSE：RIO，ASX：RIO）排第十位，其产量从2011年的52万吨，增加了6％至2012年54.9万吨。除Escondida和Northparkes铜矿产量有所增加，Kennecott Utah 铜业产量有所减少外，Grasberg铜矿去年铜产量几乎为零。</li>
			</ul>

			<nav>
				<ul class="pagination">
					<li><a href="#/blog/2">&laquo; Newer</a></li>
					<li><a href="#/blog/3">2</a></li>
					<li><a href="#/blog/2">3</a></li>
					<li class="active"><a href="#/blog/1">4</a></li>
					<li class="disabled"><a href="#/blog">&raquo; Older</a></li>
				</ul>
			</nav>
		</div>
	</div>
	
</div>