<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#/about.html">Home</a></li>
                <li><a href="#/blog">Blog</a></li>
                <li class="active">{{result.date}}</li>
            </ol>
        </div>
    </div>



    <div class="row">
        <div class="col-md-9">

            <span ng-if="result.id != '1' && result.id != 3">
                <h1 class="page-header">{{result.title}}
                </h1>
                <span ng-if="result.img != ''">
                    <img class="img-responsive center-block" ng-src="{{result.img}}">
                </span>

                <p>{{result.body}}</p>

            </span>

            <span ng-if="result.id == '1'">
            <h3><p>2012年全球最大的10家铜矿公司铜产量初步估计占同比增长约2％，从2011年的914万吨增加至2012年的931万吨。排名前10位的铜企业中六家铜产量增加，四家下降（图1）。</p></h3>    

            <h1 class="page-header"> 2012世界上最大的10家铜矿公司</h1>
            <img class="img-responsive center-block" src="img/blog1chart.png">
            <ul class="list-group">
                <li class="list-group-item">1.智利国有矿业公司Codelco排名第一: 2012铜产量初步估计175万吨，比2011年（179.6万吨）同比下降3%。下降的主要原因是其处理的矿石品位较低，其中Chuquicamata的矿石品位下降了19％，不过该公司预计全年生产数字非常接近2012年的预算。</li>
                <li class="list-group-item">2.总部设在美国亚利桑那州凤凰城的Freeport-McMoRan铜金公司（NYSE：FCX）排名第二其2012年生产铜166.2万吨，与2011年（167.4万吨）相比低约1％。主要原因是Grasberg，the Candelaria/Ojos del Salado , 以及Cerro Verde等矿山的铜矿产量下降。</li>
                <li class="list-group-item">3.英澳必和必拓（BHP Billiton）（ASX：BHP，LSE：BLT）铜产量排名第三，增加了11％，从2011年的104.7万吨增加到2012年的116.3万吨。这两位数的增长速度，源于Escondida矿石品位的提高以及成功完成大型维修后吞吐量增加的结果。</li>
                <li class="list-group-item">4.墨西哥的墨西哥集团（PINK：GMBXF）保持原来的第四位。这主要归功于其子公司，南方铜业公司（NYSE：SCCO）和美国的冶炼和精炼公司（ASARCO）综合铜生产能力7％的提高，包括回收率和矿石品位的提高。其产量从2011年的77.3万吨增到2012年82.6万吨。</li>
                <li class="list-group-item">5.盎格鲁 - 瑞士Xstrata公司（LSE：XTA，SIX：XTAN），排名第五。总的铜生产量为74.7万吨与2011年相比低了16％。斯特拉塔铜业产量下降的原因是从一些老的将开采完的矿山转型到新矿并且加上扩张，另外又加上Collahuasi铜矿合资生产的挑战。所以产量出现两位数的下降。</li>
                <li class="list-group-item">6.智利的安托法加斯塔PLC（LSE：ANTO）名列第六位. 其2012年的铜产量为71万吨，较2011年64.1万吨增长11％，主要是由于在埃斯佩朗莎和洛斯佩兰布雷斯矿吞吐量增高带来的增加。</li>
                <li class="list-group-item">7.总部设在波兰的KGHM波兰Miedź集团（WSE：KGH）由第九位上升到第七位，2012年铜产量出现18％的增长。</li>
                <li class="list-group-item">8.英国英美资源集团（LSE：AAL）排第八位，总铜产量66万吨，比2011年高出10％，其中包括该公司在Collahuasi铜矿的合资企业的产量</li>
                <li class="list-group-item">9.盎格鲁 - 瑞士的嘉能可国际公司（LSE：GLEN）排名第九位，铜总产量56.6万吨，包括公司自己的原料及第三方矿石，产量比2011年低10％。</li>
                <li class="list-group-item">10.英国和澳大利亚的力拓（Rio Tinto）（LSE：RIO，ASX：RIO）排第十位，其产量从2011年的52万吨，增加了6％至2012年54.9万吨。除Escondida和Northparkes铜矿产量有所增加，Kennecott Utah 铜业产量有所减少外，Grasberg铜矿去年铜产量几乎为零。</li>
            </ul>
            </span>

            <span ng-if="result.id == '3'">
            <h1 class="page-header">2012 Top 50 Global Gold Producers
            </h1>
            <table class="table table-hover">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Company</th>
                    <th>Production(Tonne)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Barrick Gold Corp</td>
                    <td>450.54</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Newmont Mining Corp</td>
                    <td>276.39</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>AngloGold Ashanti Ltd</td>
                    <td>212.03</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Goldcorp Inc</td>
                    <td>169.03</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Kinross Gold Corp</td>
                    <td>130.66</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Gold Fields Ltd</td>
                    <td>116.8</td>
                </tr>
                            <tr>
                    <td>7</td>
                    <td>Harmony Gold Mining Co Ltd</td>
                    <td>114.73</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Newcrest Mining Ltd</td>
                    <td>100.18</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Polyus Gold International Ltd</td>
                    <td>88.82</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Navoi Mining and Metallurgical Combine</td>
                    <td>85.37</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Yamana Gold Inc</td>
                    <td>60.69</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Freeport-McMoRan Copper and Gold Inc</td>
                    <td>56.55</td>
                </tr>
                            <tr>
                    <td>13</td>
                    <td>Cia De Minas Buenaventura SA</td>
                    <td>54.81</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Rio Tinto plc</td>
                    <td>53.16</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Agnico-Eagle Mines Ltd</td>
                    <td>46.64</td>
                </tr>
                            <tr>
                    <td>16</td>
                    <td>Xstrata plc</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Eldorado Gold Corp</td>
                    <td>44.04</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Iamgold Corp</td>
                    <td>40.12</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Pretium Resources Inc</td>
                    <td>38.79</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Osisko Mining Corp</td>
                    <td>35.04</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Randgold Resources Ltd</td>
                    <td>34.64</td>
                </tr>
                            <tr>
                    <td>22</td>
                    <td>African Barrick Gold plc</td>
                    <td>33.93</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Centerra Gold Inc</td>
                    <td>32.81</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>New Gold Inc</td>
                    <td>32.41</td>
                </tr>
                            <tr>
                    <td>25</td>
                    <td>Petropavlovsk plc</td>
                    <td>32.12</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>Polymetal International plc</td>
                    <td>31.22</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Teck Resources Ltd</td>
                    <td>30.79</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Seabridge Gold Inc</td>
                    <td>27.78</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>NovaGold Resources Inc</td>
                    <td>26.83</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Zijin Mining Group Co Ltd</td>
                    <td>26.73</td>
                </tr>
                            <tr>
                    <td>31</td>
                    <td>Gold One International Ltd</td>
                    <td>26.25</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>Hochschild Mining plc</td>
                    <td>26.17</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>Abitex Resources Inc</td>
                    <td>24.88</td>
                </tr>
                            <tr>
                    <td>34</td>
                    <td>St Barbara Ltd</td>
                    <td>24.61</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>Exeter Resource Corp</td>
                    <td>22.07</td>
                </tr>
                <tr>
                    <td>36</td>
                    <td>International Minerals Corp</td>
                    <td>21.49</td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>B2Gold Corp</td>
                    <td>20.92</td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>Chesapeake Gold Corp</td>
                    <td>20.5</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>Detour Gold Corp</td>
                    <td>20.43</td>
                </tr>
                            <tr>
                    <td>40</td>
                    <td>AuRico Gold Inc</td>
                    <td>20.37</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>Minera San Geronimo</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>42</td>
                    <td>Sumitomo Metal Mining Co</td>
                    <td>19.97</td>
                </tr>
                            <tr>
                    <td>43</td>
                    <td>Zhongjin Gold Corp Ltd</td>
                    <td>19.74</td>
                </tr>
                <tr>
                    <td>44</td>
                    <td>Nord Gold NV</td>
                    <td>19.52</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>Cia General De Mineria De Venezuela</td>
                    <td>19.16</td>
                </tr>
                <tr>
                    <td>46</td>
                    <td>Crocodile Gold Corp</td>
                    <td>18.36</td>
                </tr>
                <tr>
                    <td>47</td>
                    <td>Anglo American plc</td>
                    <td>17.81</td>
                </tr>
                            <tr>
                    <td>48</td>
                    <td>International Tower Hill Mines Ltd</td>
                    <td>17.48</td>
                </tr>
                <tr>
                    <td>49</td>
                    <td>Fresnillo plc</td>
                    <td>17.2</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>Jaguar Mining Inc</td>
                    <td>16.68</td>
                </tr>
            </tbody>
        </table>
        </span>


        </div>


        <div class="col-md-3">
                <h3>About</h3>
                <h4>In the blog section I will talk about current events and news in the world of Mining!</h4>
                <!-- <img class="img-responsive center-block" src="http://thecatapi.com/api/images/get?format=src&type=jpg"> -->
                <hr class="featurette-divider photodivider">
                <h3>Social Media</h3>
                <ul class="list-unstyled list-inline list-social-icon" >
                    <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/GaBusinessGroupInc/info" data-toggle="tooltip"
                data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li class="tooltip-social linkedin-link"><a href="http://ca.linkedin.com/in/jiejennyfang2009" data-toggle="tooltip"
                    data-placement="top" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    <li class="tooltip-social twitter-link"><a href="https://twitter.com/jiejennyfang" data-toggle="tooltip"
                       data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <hr class="featurette-divider photodivider">
                <h3>Tweets!</h3>
                </ul>
        </div>
    </div>

    <hr class="featurette-divider photodivider">


    <span ng-if="result.id == '1'">
    <ul class="pager">
      <li class="previous">
        <a href="#/blog/{{blogid + 1}}">&larr; Newer</a>
      </li>
    </ul>
    </span>

    <span ng-if="result.id != '1' && result.id != count ">
    <ul class="pager">
      <li class="previous">
        <a href="#/blog/{{blogid + 1}}">&larr; Newer</a>
      </li>
      <li class="next">
        <a href="#/blog/{{blogid - 1}}">Older &rarr;</a>
      </li>
    </ul>
    </span>

    <span ng-if="result.id == count">
    <ul class="pager">
      <li class="next">
        <a href="#/blog/{{blogid - 1}}">Older &rarr;</a>
      </li>
    </ul>
    </span>

</div>