<div class="container">

	<div class="row">
	     <div class="col-lg-12">
            <h1 class="page-header">
            	<span class="glyphicon glyphicon-comment bloghover" style="vertical-align: top"></span> Blog
            </h1>
            <ol class="breadcrumb">
				<li><a href="#/about.html">Home</a></li>
				<li class="active">Blog</li>
			</ol>
        </div>
	</div>

	<div class="row">
		<div class="col-lg-9">
			<div ng-repeat="item in items | filter:search | reverse" class="repeat-animation">
				<div class="well well-sm">
					<h1>{{item.title}}</h1>
					<h3><small>{{item.date}} by <a href="http://ca.linkedin.com/in/jiejennyfang2009" target="_blank">Jenny Fang</a></small></h3>
					<h3>{{item.entrytitle}}</h3>
					<a class="btn btn-custom-spin" href="#/blog/{{item.id}}"role="button" style="vertical-align:bottom">Read more!</a>	
            	</div>
            	<div class="clearfix"></div>
            	<br><br>
			</div>
		</div>

		<div class="col-md-3">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search" style="vertical-align:center"></span>
	  		</div>
	  		<hr class="featurette-divider photodivider">
	  			<h3>About</h3>
	  			<h4>In the blog section I will talk about current events and news in the world of Mining!</h4>
	  			<!-- <img class="img-responsive center-block" src="http://thecatapi.com/api/images/get?format=src&type=jpg"> -->
	  		<hr class="featurette-divider photodivider">
	  		<h3>Social Media</h3>
	  		<ul class="list-unstyled list-inline list-social-icon" >
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/GaBusinessGroupInc/info" data-toggle="tooltip"
            data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="http://ca.linkedin.com/in/jiejennyfang2009" data-toggle="tooltip"
                data-placement="top" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/jiejennyfang" data-toggle="tooltip"
                   data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <hr class="featurette-divider photodivider">
            <h3>Tweets!</h3>
		</div>
	</div>





    <h1 class="page-header">
    	<i class="fa fa-youtube-play youtubehover" style="vertical-align: center"></i> Youtube Videos
    </h1>

	<div class="row">
		<div class="col-md-6">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cpteyb7DjRo" height="400" width="550"></iframe>
			</div>
		</div>
		<div class="col-md-6 pull-right">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eTrkDo54BG4" height="400" width="550"></iframe>
			</div>
		</div>
	</div>
	<hr class="featurette-divider photodivider">
</div>
