<div class="container">
	
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				<span class="glyphicon glyphicon-camera camerahover" style="vertical-align:top"></span>      Photos
					<div class="col-md-3 pull-right">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="search">
							<span class="input-group-addon"><span class="glyphicon glyphicon-search" style="vertical-align:center"></span>
				  		</div>
					</div>
			</h1> 
			<ol class="breadcrumb">
				<li><a href="#/about.html">Home</a></li>
				<li class="active">Photos</li>
			</ol>         
		</div>
	</div>

	<div class ="row">
		<div ng-repeat="item in items | limitTo: limit | filter:search" class="repeat-animation">
			<div class="col-md-4 centered" >
				<div class="thumbnail">
					<img ng-src="{{item.image}}" alt="Generic placeholder thumbnail">		
				<div class="caption">
					<span ng-if="english" class="animate-if">
						<h4>{{item.enbody}}</h4>
					</span>
					<span ng-if="chinese" class="animate-if">
						<h4>{{item.chbody}}</h4>
					</span>
				</div>	
				</div>
			</div>
		</div>
	</div>

	<hr class="featurette-divider photodivider">

	<div class="row">
		<span ng-if="LimitNotReached()">
			<div class="col-md-1">
				<a ng-click="incrementLimit();gotoElement('button')">
					<button type="button" class="btn btn-custom-spin btn-lg" ng-disabled="!LimitNotReached()"><span class="glyphicon glyphicon-plus-sign" style="vertical-align: -1.5px" id="button"></span>    More</button>
				</a>
			</div>
		</span>
	</div>

</div>