<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header"><i class="fa fa-book"></i> Publications
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/about.html">Home</a></li>
				<li class="active">Publications</li>
			</ol>
		</div>
	</div>

	
	<div ng-show="english" class="animate-if">
		<div class="row">
			<div class="col-lg-12">
				<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					<li class="active"><a href="#Interview" data-toggle="tab">Interview</a></li>
					<li><a href="#Articles" data-toggle="tab">Articles</a></li>
					<li><a href="#Translations" data-toggle="tab">Translations</a></li>
				</ul>
				<div id="my-tab-content" class="tab-content">
					
					<div class="tab-pane active" id="Interview">
						<h1>Interviews</h1>
						<ul class="list-group">
							<li class="list-group-item">Interviewed by Bloomberg BusinessWeek China in regards of CNOOC takeover of Nexen Energy / BBWC Oct 19, 2012 </li>
						</ul>

					</div>
					<div class="tab-pane" id="Articles">
						<h1>Published Original Articles</h1>
						<ul class="list-group">
							<li class="list-group-item">Multivariant Statistical Analysis In The Application Of The Surveyed Area Of Jinshan Gold Deposit,Jiangxi,China "Jiangxi Geology" ; 1994 Vol Collected by: Materials Physics and Chemistry Professional PhD thesis in 2000 sponsored by : Shanghai Institute of Metallurgy, Chinese Academy of Sciences</li>
						</ul>
						
					</div>
					<div class="tab-pane" id="Translations">
						<h1>Published Translations</h1>

						<li class="list-group-item">Fission track age adjustment through Inner and outer surfaces of zircon "Geology & Geochemistry";  1993 Vol 5</li>
						<li class="list-group-item">The vein gold related to the Tertiary pluton in Harrison Lake, British Columbia "Heilongjiang Geological Intelligence"; 1992 Vol 2</li>
						<li class="list-group-item">New Mineral-Tooeleite found in Americas Mine in Tooele County, Utah, USA "Journal of Geoscience Translations" ; 1992 Vol 4</li>
						<li class="list-group-item">Ag-Pd alloys in Bahia lateritic gold mine in Carajas of Brazil "Journal of Geoscience Translations"; 1992 Vol 4</li>
					</div>
				</div>

			</div>
		</div>
	</div>	


	<div ng-show="chinese" class="animate-if">
		<div class="row">
			<div class="col-lg-12">
				<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					<li class="active"><a href="#CHInterview" data-toggle="tab">访谈</a></li>
					<li><a href="#CHArticles" data-toggle="tab">原作</a></li>
					<li><a href="#CHTranslations" data-toggle="tab">翻译作品 </a></li>
				</ul>
				<div id="my-tab-content" class="tab-content">
					
					<div class="tab-pane active" id="CHInterview">
						<h1>访谈</h1>
						<ul class="list-group">
							<li class="list-group-item">创始人方洁女士就中海油收购加拿大耐克森能源公司一事 接受彭博商务周刊中文版资深能源记者李晨蕾小姐的采访, 详情请读2012年10月19日总第20期. </li>
						</ul>

					</div>
					<div class="tab-pane" id="CHArticles">
						<h1>原作</h1>
						<ul class="list-group">
							<li class="list-group-item">多元统计分析在金山金矿普查测区中的应用 《江西地质》;1994年第2期 选入中国科学院上海冶金研究所《材料物理与化学专业2000年度博士论文》</li>
						</ul>
						
					</div>
					<div class="tab-pane" id="CHTranslations">
						<h1>翻译作品</h1>

						<li class="list-group-item">使用锆石内、外表面进行裂变径迹年龄校正;<地质地球化学>1993年第05期</li>
						<li class="list-group-item">不列颠哥伦比亚省Harrison湖与第三纪深成作用有关的脉状金矿化<黑龙江地质情报>;1992年 第02期</li>
						<li class="list-group-item">美国犹他州图尔县美洲矿中的新矿物-Tooeleite<地质科学译丛>;1992年 第04期</li>
						<li class="list-group-item">巴西卡拉雅斯Bahia红土金矿中的Ag-Pd合金<地质科学译丛>;1992年 第04期</li>
					</div>
				</div>

			</div>
		</div>
	</div>


</div>
</div>

</div>
